<%- include("top_page.ejs")%>
<main>
    <div class="wrapper">

        <h1>Workers table</h1>
        <select name="empNames" id="empNames">
        </select>
        <table>
            <thead>
            <tr>
                <th> ID </th>
                <th> יציאה </th>
                <th> כניסה </th>
                <th> שם משפחה </th>
                <th> שם פרטי </th>
                <th> Delete </th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</main>
<script src="/main_table.js"></script>
<%- include("bottom_page.ejs")%>
