<%- include("top_page.ejs")%>
<main>
    <div class="wrapper">

        <h1>Report shifts</h1>
        <select name="empNames" id="empNames">
        </select>
        <div id="shiftBtn">
        <button>ENTRY</button>
        <button>EXIT</button>
        </div>
    </div>
</main>
<script src="/main_shift.js"></script>
<%- include("bottom_page.ejs")%>
